<h5 class="text-center mt-3">All Employees List</h5>

<div class="container mt-4">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Admin</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < employees.length; i++) {%>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td> <%= employees[i].name%> </td>
              <td> <%= employees[i].email%> </td>
              <td> <%= employees[i].password%> </td>
              <td> <%= employees[i].isAdmin%> </td>
              <% if(locals.user.id != employees[i]._id) {%>
                <td> 
                  <a href="/admin/deleteEmployee/<%= employees[i]._id %>" class="btn btn-outline-danger">Delete</a>
              </td>
              <%}else{%>
                <td>
                  <a href="" class="btn btn-outline-danger">Delete</a>
                </td>
              <%}%> 
            </tr>  
          <%}%>
          
        </tbody>
      </table>
</div>